#DATABASE
JDBC_DRIVER_CLASS_NAME=com.mysql.jdbc.Driver
JDBC_URL=jdbc:mysql://localhost:3306/diagnostic?autoReconnect=true&useSSL=false&characterEncoding=utf8&useUnicode=true
JDBC_USERNAME=root
JDBC_PASSWORD=admin

#ONTOLOGY
TTL_FILE=E:/Projects/diagnostic.ttl
OWL_FILE=E:/Projects/diagnostic.owl
RULES_FILE=E:/Projects/rules.txt
ONT_URI=http://www.semanticweb.org/ontologies/diagnostic
ENTITIES_PACKAGE=ro.tuc.dsrl.swag.model.diagnostic

#JENA or D2RQ
API_TYPE=D2RQ

#true or false
AUTO_GEN=true

#create, update or an empty string
AUTO_VALUE=create